# Laravel
/vendor/
/node_modules/
/public/build/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/*.log
/storage/*.cache
/storage/*.pid
/storage/*.sqlite
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Env & local stuff
.env
.env.*
!.env.example

# Editor/OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
