# Laravel
/vendor/
/node_modules/
/public/build/
/public/storage
/storage

# Env & caches
.env
.env.*.local
.phpunit.result.cache
.php-cs-fixer.cache

# IDE & OS
/.idea/
/.vscode/
/*.sqlite
.DS_Store

# Env local
.env.local
